// sass css/speakers.scss css/speakers.css
$font-stack: "Inter", sans-serif;
$header-font: "Inter:wght@900", sans-serif;
$primary-color: #333;
$pic-width: 75%;

#speaker-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section3-header {
    margin-top: 10%;
    color:white;
    font-size: 2.4em;
  }

  #speakers-desc {
    width: 50%;
    color: white;
    margin-bottom: 40px;
    font-weight: 400;
  }
  
  .containerSect2 {
    display: flex;
    flex-direction: row;
    text-align: -webkit-auto;
    margin-top: 5%;
  }
  
  .speaker {
    justify-self: center;
    position: relative
  }
  
  .speaker-pics {
    width: $pic-width;
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px 1px;
    z-index: 2;
    position: relative;
  }
  
  .speaker-pics:hover {
    opacity: 0.3;
    filter: grayscale(0.6) brightness(1.1) blur(1px);
  }
  
  #visible-speaker-text {
    position: relative;
    width: 200px;
    margin: 15px 10px 25px 10px;
    color: white;
    
    h3 {
      margin-bottom: 10px;
    }

    p{
      font-style: italic;
    }
  }
  
  #hidden-speaker-text {
    position: absolute;
    top: 18%;
    padding-top: 2%;
    z-index: 1;
    width: $pic-width;

    #hidden-text-top{
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  }

.schedule {
  margin-top: 10%;
}

.schedule-header {
  margin-top: 15%;
}

.location-header {
  margin-top: 50%;
}

#map {
  height: 1000px;
  width: 100%;
}