// sass css/styles.scss css/styles.css

$font-stack: "Inter", sans-serif;
$header-font: "Inter:wght@700", sans-serif;
$primary-color: #333;

header {
  height: 60px;
  width: 100%;
  background-color: #211f20;
  position: fixed;
}

#logo {
  width: 50px;
  left: 17.5px;
  top: 7px;
  position: fixed;
}

#top-nav {
  right: 30px;
  top: 17px;
  width: auto;
  grid-column-gap: 27px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
}

.h-links {
  color: #c0c0c0;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.5s;
}

.h-links:hover {
  color: white;
}

h1,
h2 {
  font-style: $header-font;
}

.default-text {
  font-style: $font-stack;
}

#speaker-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.first {
  background-color: #000000;
  background-image: linear-gradient(30deg, #000000, #ffffff);
  min-height: 500px;
}

.second {
  background-color: #ffffff;
  background-image: linear-gradient(30deg, #ffffff, #0047ff);
  min-height: 500px;
}

.third {
  background-color: #0047ff;
  min-height: 260px;
}

.fourth {
  background-color: #ffffff;
}

.diagonal-box {
  background-image: linear-gradient(45deg, #e4e4e4 70%, #000000);
  transform: skewY(-11deg);
}

.section1-header {
  padding-top: 5%;
  margin-left: 10%;
  width: 30%;
}
